{% extends "layout.html" %}

{% block body %}

<div style="padding-left: 160px"><h3>Kontrol Paneli</h3></div>

{% from "includes/formhelpers.html" import render_field %}
<div style="padding-left: 160px">
    <div style="padding-right: 160px" >
        <form method = "POST">
            {{render_field(form.title, class = "form-control")}}
            {{render_field(form.content, class = "form-control")}}
            <br> 
            <button type = "submit" class = "btn btn-primary">İnceleme Ekle</button> 
        </form>
    </div>
</div>


{% for data in datas %}
    <div style="padding-left: 160px" >
        <div style="padding-right: 160px" >
            <hr>
            <h3>{{data.title}}</h3> <p align = "right"><a href="/update-analysis/{{data.id}}" class = "btn btn-primary">İncelemeyi Güncelle</a><a href="/delete-analysis/{{data.id}}" class = "btn btn-danger">İncelemeyi Kaldır</a></p>
                {{data.content}}
                {{data.created_date}} 
            <hr>
        </div>
    </div>
    
     
{% endfor %}


{% endblock body %}

