{% extends "layout.html" %}

{% block body %}
    <div style="padding-left: 160px">
        <div style="padding-right: 160px">
            <div align = "center"><b><h3>{{data.title}}</h3></b></div>  
            <hr>
            {{data.content}}
            <hr>
            {{data.username}} - {{data.created_date}}
            {% if session["username"] != "admin" %}
                {% if session["liked_content_{}".format(data.id)] %}

                    <form action="http://localhost:5000/delete_like-analysis/{{data.id}}">
                                <button class="social-like" style="background-color:#ff4040; border-color:#ff4040; color:white" >
                                    <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                    <span class="count">{{result_share}}</span>
                                </button>
                                &nbsp;
                            </form>
                {% else %}

                    <form action="http://localhost:5000/like-analysis/{{data.id}}">
                                <button class="social-like" style="background-color:#2196F3; border-color:#2196F3; color:white" >
                                    <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                    <span class="count">{{result_share}}</span>
                                </button>
                                    &nbsp;
                            </form>
                {% endif %} 
            {% else %}
                <button class="social-like" style="background-color:#2196F3; border-color:#2196F3; color:white" >
                        <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                        <span class="count">{{result_share}}</span>
                    </button>
                        &nbsp;
            {% endif %}    
                
            <hr> 
            {% if result_comment > 0 %}
                <b><h4>Yorumlar({{result_comment}})</h4></b> 
            {% else %}
                <h3>Bu İncelemeye Henüz Yorum Yapılmamış.</h3>
            {% endif %}     
            
            {% for comment in comments %}
            <hr>
                <a href="/users/{{comment.username}}"><font color = "purple" >{{comment.username}}</font></a> 
                <br> 
                {{comment.content}}
                <br>         
                <font color = "purple" >{{comment.created_date}}</font>
                
                {% if session["username"] == comment.username %}
                    
                    <button class="social-like" style="background-color:#2196F3; border-color:#2196F3; color:white" >
                        <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                        <span class="count">{{session["{}".format(comment["comment_id"])]}}</span>
                    </button>
                        &nbsp;
                    <a href="/edit-comment/{{comment.comment_id}}" class = "btn btn-primary">Yorumu Düzenle</a>
                    <a href="/delete-comment/{{comment.comment_id}}" class = "btn btn-danger">Yorumu Sil</a>  
                
                {% else %}    

                    {% if session["he_liked_{}".format(comment.comment_id)] %}
                        
                         <form action="http://localhost:5000/deletelike-comment/{{data.id}}/{{comment.comment_id}}">
                            <button class="social-like" style="background-color:#ff4040; border-color:#ff4040; color:white" >
                                <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                <span class="count">{{session["{}".format(comment["comment_id"])]}}</span>
                            </button>
                            &nbsp;
                        </form>
                        
                    {% else %}
                        
                        <form action="http://localhost:5000/like-comment/{{data.id}}/{{comment.comment_id}}">
                            <button class="social-like" style="background-color:#2196F3; border-color:#2196F3; color:white" >
                                <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                <span class="count">{{session["{}".format(comment["comment_id"])]}}</span>
                            </button>
                                &nbsp;
                        </form>

                    {% endif %}
                    
                            
                {% endif %}        
            <hr> 
            {% endfor %}
            {% from "includes/formhelpers.html" import render_field %}
            {% if session["logged_in"] %}
                <form method = "POST">
                    {{render_field(form.comment, class = "form-control")}}
                    <button type = "submit" class = "btn btn-primary">Yorumu Paylaş</button> 
                </form>
            {% else %}
                <font color = "purple"><h4>Bu inceleme hakkında yorum yapmak için giriş yapmalısınız.<a href="/login" class = "btn btn-primary">Giriş Yap</a></h4></font>
            {% endif %}
                
        </div>
    </div>
    
    
{% endblock body %}