{% extends "layout.html" %}

{% block body %}

<div align = "center"><h3>Doğrulama Kodu</h3></div>
<hr>

{% from "includes/formhelpers.html" import render_field %}
<div style="padding-left: 0px">
    <div style="padding-right: 500x">
        <div align = "center">
            <form method = "POST">
                {{render_field(form.correctcode)}}
                <br> 
                <button type = "submit" class = "btn btn-primary">Kodu Gönder</button>
            </form>
        </div>  
        
   </div>
</div>

{% endblock body %}