{% extends "layout.html" %}

{% block body %}

<div align = "center"><h3>Yorum Düzenle</h3>
<hr> 
    <div style="padding-left: 300px" >
        <div style="padding-right: 300px">
        {% from "includes/formhelpers.html" import render_field %}
        <form method ="POST">
            {{render_field(form.comment_form, class = "form-control")}}
            <br> 
            <button type = "submit" class = "btn btn-primary">Yorumu Güncelle</button> 
        </form> 
        </div>
    </div>
</div>
{% endblock body %}