{% extends "layout.html" %}
{% from "includes/formhelpers.html" import render_field %}
{% block body %}

<div align = "center"><h3>Şifremi Unuttum</h3></div>
<hr>
<div style="padding-left: 500px">
    <div style="padding-right: 500px">
        <form method = "POST">
            {{render_field(form.correctcode, class = "form-control")}}
            <br> 
            <button type = "submit" class = "btn btn-primary">Kodu Doğrula</button> 
        </form> 
    </div>
</div>

{% endblock body %}

 