{% extends "layout.html" %}

{% block body %}
<br> 
<div style="padding-left: 160px">
    <div style="padding-right: 160px"> 
      <div class = "jumbotron text-center">
        <html>
            <title>W3.CSS</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <body>

            <div class="w3-container">
              <img class="w3-animate-fading" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/2048px-Video-Game-Controller-Icon-IDV-green.svg.png" style="width:25%" width="200" height="125">
            </div>

            </body>
            </html>
          {% if session["name"] %}
            <h3>Cooldown'a Hoşgeldin {{name}}</h3>
          {% else %}
            <h3>Cooldown'a Hoşgeldin Yabancı</h3>
            <b>Biz burada yabancıları sevmeyiz. Ya giriş yapıp kendini tanıt yada Cooldown'a kayıt ol!</b>
            <br>
            <b>UNUTMA HER ŞEY BİR GÜN COOLDOWN'A GİRMEYE MAHKUMDUR.</b>       
          {% endif %}

        <p></p> 
      </div>
    </div>
</div>       


{% endblock body %}
