{% extends "layout.html" %}

{% block body %}
<div align = "center"><h2>Kayıt Ol</h2></div>
        
<hr>

{% from "includes/formhelpers.html" import render_field %}
<div style="padding-left: 160px">
    <div style="padding-right: 160px">
        <form method = "POST">   
            {{render_field(form.name, class = "form-control")}}
            {{render_field(form.age, class = "form-control")}}
            {{render_field(form.email, class = "form-control")}}
            {{render_field(form.username, class = "form-control")}}
            {{render_field(form.password, class = "form-control")}}
            <button type = "submit" class = "btn btn-primary">Kayıt Ol</button> 
        </form>
    </div>
</div>    
{% endblock body %}