{% extends "layout.html" %}

{% block body %}
<div style="padding-left: 160px" >
    <div style="padding-right: 160px" >
        <span style="background-color: white; color: #000000;"><font size = "5">{{users_data.username}}</font></span>
        <br>
        <span style="background-color: purple; color: #FFF;">İsim : {{users_data.name}} 
            <br> 
            Yaş : {{users_data.age}}
            <br>
            Email : {{users_data.email}}
            <br>
            <hr> 
        </span>
        <font size = "5">Kullanıcının Toplam Yorum Sayısı({{total_comment}})</font>
        
        {% for comment in comments_data %}
            <hr> 
            {% for share in shares_data %}
                {% if comment.id == share.id %}
                    <div align = "center"><font size = "4">{{share.title}}</font></div> 
                    <hr> 
                    <span style="background-color: purple; color: #FFF;"><font size = "4">Kullanıcı Yorumu:</font></span>     
                    <br>
                    <font size = "4" color = "purple">{{comment.username}}:</font>
                    <span style="background-color: white; color: #000000;"<font size = "4">{{comment.content}}</font></span>
                    
                    {% if session["username"] == comment.username %}
                    
                    <button class="social-like" style="background-color:#2196F3; border-color:#2196F3; color:white" >
                        <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                        <span class="count">{{session["{}".format(comment["comment_id"])]}}</span>
                    </button>
                        &nbsp;
                    <a href="/edit-comment/{{comment.comment_id}}" class = "btn btn-primary">Yorumu Düzenle</a>
                    <a href="/delete-comment/{{comment.comment_id}}" class = "btn btn-danger">Yorumu Sil</a>  
                
                    {% else %}    

                        {% if session["he_liked_{}".format(comment.comment_id)] %}
                        
                            <form action="http://localhost:5000/deletelike-comment/{{share.id}}/{{comment.comment_id}}">
                                <button class="social-like" style="background-color:#ff4040; border-color:#ff4040; color:white" >
                                    <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                    <span class="count">{{session["{}".format(comment["comment_id"])]}}</span>
                                </button>
                                &nbsp;
                            </form>
                        
                        {% else %}
                        
                            <form action="http://localhost:5000/like-comment/{{share.id}}/{{comment.comment_id}}">
                                <button class="social-like" style="background-color:#2196F3; border-color:#2196F3; color:white" >
                                    <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                                    <span class="count">{{session["{}".format(comment["comment_id"])]}}</span>
                                </button>
                                    &nbsp;
                            </form>

                        {% endif %}
                    
                            
                    {% endif %}     
                {% endif %}
            
            {% endfor %}
        
        {% endfor %} 
    </div>
</div>

{% endblock body %}